body{
    padding: 20px;
    font-family: sans-serif;
}

li{
    display: inline;
    padding-right: 20px;
   
    
}
ul a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
ul{
    margin-left: 7%;
    margin-top: -45px;
}
.first{
    margin-left: 9%;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: black;
    color: white;
    width: 10%;
    height: 35px;
    border-radius: 5px;
}
.pic{
    height:300px ;
    margin-left: 25%;
    margin-top: -25%;
}
.me{
    margin-left:65% ;
    margin-top:-35% ;
}
.see{
    background-color: white;
    color: rgb(39, 36, 36);
    width: 15%;
    margin-left:10% ;
    height: 10%;
    border-radius: 10px;
    border-color: rgb(146, 141, 141);
    
}